---
// Importuri existente
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

// Text Markdown
const explainer = `
This link should only be accessed when the host sends you the link 
`;
---

<Layout title="Steve Rooms">
  <ContextAlert class="mb-8" />
  <h1 class="mb-10">Pay for your stay</h1>
  <Markdown content={explainer} class="mb-10 text-lg" />

  <!-- Stripe Buy Button 1 -->
  <script async src="https://js.stripe.com/v3/buy-button.js"></script>
  <stripe-buy-button
    buy-button-id="buy_btn_1RqpdmCOoshLlVaxRLEnavTq"
    publishable-key="pk_live_51RpqtjCOoshLlVaxgKLoiyHfj3g256GYUbw4vjzrxpdy7bD024goq9W0Pfxe613WHWCxapZtBYqod5uHRbwGdm2500x4tWA8a7">
  </stripe-buy-button>

  <!-- Stripe Buy Button 2 -->
  <script async src="https://js.stripe.com/v3/buy-button.js"></script>
  <stripe-buy-button
    buy-button-id="buy_btn_1RqpgbCOoshLlVaxQbjy2mNi"
    publishable-key="pk_live_51RpqtjCOoshLlVaxgKLoiyHfj3g256GYUbw4vjzrxpdy7bD024goq9W0Pfxe613WHWCxapZtBYqod5uHRbwGdm2500x4tWA8a7">
  </stripe-buy-button>

  <!-- Stripe Buy Button 3 -->
  <script async src="https://js.stripe.com/v3/buy-button.js"></script>
  <stripe-buy-button
    buy-button-id="buy_btn_1RqphJCOoshLlVaxzua7S9gv"
    publishable-key="pk_live_51RpqtjCOoshLlVaxgKLoiyHfj3g256GYUbw4vjzrxpdy7bD024goq9W0Pfxe613WHWCxapZtBYqod5uHRbwGdm2500x4tWA8a7">
  </stripe-buy-button>
</Layout>
