---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Take a look around the site and then you can reserve our rooms by clicking the button below
`;
---

<Layout title="Steve Rooms">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Welcome </h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p class="text-center">
        <a 
            href="https://wa.me/40746695880/?text=hi%20we%20want%20a%20room" 
            class="btn btn-lg sm:min-w-64"
        >
            Reserve a room
        </a>
        <br />
        <span class="block my-3 text-white text-lg">or</span>
        <span class="block text-white font-semibold">call us +40747524599</span>
    </p>
</Layout>
