 ---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Our rooms 
`;
---

<Layout title="Steve Rooms">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Our rooms</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
    </p>
</Layout>