 ---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
The room is located in a relatively recently built building and consists of studios for rent. It consists of a hall, a room (bed linen and towels) and a private bathroom with a bathtub and free toiletries. The room is equipped with a flat-screen TV, a refrigerator and a kettle. Free wifi is offered.
The location is central and is less than 600m from Iulius Mall and 800m from Palas Mall. The nearest airport is 5km away. 
`;
---

<Layout title="Steve Rooms">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Our rooms</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
    </p>
</Layout>